body {
    background-color: #ffffff;
    font-size: 1rem;
    font-family: Arial, "Arial CE", "Helvetica CE", sans-serif;
    color: #000000;
    max-width: 30rem;
    margin: auto;
    padding: 1em;
}


h1 {
    color: #045491;
    font-size: 3em
}

h2 {
    color: #045491;
    font-size: 1.4em
}

h3 {
    color: #045491;
    font-size: 1.2em
}

a:link, a:visited {
    font-size: 1.4em;
    color: #045491;
    font-weight: bold;
    text-decoration: none;
}

a:link:hover, a:visited:hover {
    color: #045491;
    font-weight: bold;
    text-decoration: underline;
}

label {
    vertical-align: top;
    display: inline-block; /*instead of inline (default)*/
    min-width: 5em;
}
table.scores {
    position:absolute;
    bottom: 0;
    left: 0;
    width: 400px;
}

.comments-table {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 400px;
}
.average-rating-section {
    position: absolute;
    top: 50%;
    left: 180px;
    transform: translateX(-50%);
}

.rate-game-section {
    position: absolute;
    top: 35%;
    left: 8%;
    transform: translateX(-50%);
}
.game-controls {
    position: absolute;
    top: 24%;
    left: 8%;
    transform: translateX(-50%);
}
.rate-game-form {
    position: absolute;
    top: 45%;
    left: 8.5%;
    transform: translate(-50%, -50%);
}
td {
    padding: 0;
}
table.scores {

    border: black 2px;
}

table.scores th {
    font-weight: bold;
    color: #FFFFFF;
    background-color: dimgray;
}
.comments-table th {
    font-weight: bold;
    color: #FFFFFF;
    background-color: dimgray;
}
.comments-table tr:nth-child(even) {
    background-color: lightgray
}
.comments-table tr:nth-child(odd) {
    background-color: white;
}

table.scores tr:nth-child(even) {
    background-color: lightgray
}

table.scores tr:nth-child(odd) {
    background-color: white;
}


#fieldTable {
    width: 50px;
    height: 50px;
}
