body {
    background-color: #ffffff;
    font-size: 1rem;
    font-family: Arial, "Arial CE", "Helvetica CE", sans-serif;
    color: #000000;
    margin: auto;
    padding: 1em;
}

h1 {
    color: #045491;
    font-size: 3em
}


.main-heading {
    position: relative; /* Zmena na relatívnu pozíciu */
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 20px 0;
    background-color: #045491;
    color: #fff;
    width: 100%;
    text-align: center;

}

body, html {
    height: 100%;
    overflow-y: auto;
}

h2 {
    color: #045491;
    font-size: 1.4em;
}

h3 {
    color: #045491;
    font-size: 1.2em;
}
.centered {
    position: fixed;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
}

.solved-message {
    font-size: 40px;
    color: #ff9900; /* or any color you prefer */
    opacity: 0;
    animation: fadeInOut 2s ease-in-out infinite alternate;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

a:link, a:visited {
    font-size: 1.4em;
    color: #045491;
    font-weight: bold;
    text-decoration: none;
}

a:link:hover, a:visited:hover {
    color: #045491;
    font-weight: bold;
    text-decoration: underline;
}

div.minesControl {
    border: 1px solid darkgrey;
    border-radius: 0.4em;
    padding: 0.5em;
    min-width: 13em;
}

div.minesControl span.gameInfo {
    width: 13em;
    display: inline-block;
}

a.abutton {
    border: 1px solid darkslategrey;
    display: inline-block;
    width: 8em;
    margin: 0.1em;
    padding: 0.1em;
    border-radius: 0.2em;
    background-color: white;
    font-weight: normal;
}

a.abutton:hover {
    background-color: springgreen;
    text-decoration: none;
    font-weight: normal;
}

label {
    vertical-align: top;
    display: inline-block;
    min-width: 5em;
}

table.scores {
    width: 40%; /* Nastavenie maximálnej šírky tabuľky na 100% veľkosti okna */
    overflow-x: auto; /* Povoliť horizontálne scrollovanie pre tabuľku, ak je príliš široká */
}

.comments-table {
    width: 100%; /* Nastavenie maximálnej šírky tabuľky na 100% veľkosti okna */
    overflow-x: auto; /* Povoliť horizontálne scrollovanie pre tabuľku, ak je príliš široká */
}
.average-rating-section {
    margin-top: 1em; /* Presunutie sekcie o 1em od horného okraja */
}
.user-info {
    margin-top:1em; /* Presunutie informácií o používateľovi o 1em od horného okraja */
}

.rate-game-section {
    margin-top: 1em; /* Presunutie sekcie o 1em od horného okraja */
}

.game-controls {
    margin-top: 1em; /* Presunutie sekcie o 1em od horného okraja */
    max-width: 100%;
}

.rate-game-form {
    position: relative; /* Zmena na relatívnu pozíciu */
    margin-top: 1em; /* Presunutie formulára o 1em od horného okraja */
}

td {
    padding: 0;
}

table.scores {
    border: black 2px;
}

table.scores th {
    font-weight: bold;
    color: #FFFFFF;
    background-color: dimgray;
}

.comments-table th {
    font-weight: bold;
    color: #FFFFFF;
    background-color: dimgray;
}

.comments-table tr:nth-child(even) {
    background-color: lightgray;
}

.comments-table tr:nth-child(odd) {
    background-color: white;
}

table.scores tr:nth-child(even) {
    background-color: lightgray;
}

table.scores tr:nth-child(odd) {
    background-color: white;
}

#fieldTable {
    width: 50px;
    height: 50px;
}