<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gamestudio</title>
    <link rel="stylesheet" href="/css/stylesheet.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<h1>Numberlink</h1>
<span th:if="${@userController.logged}">
Logged as:<span th:text="${@userController.loggedUser.login}"/><br/>
</span>
<a href="/numberlink/new">New game</a><br>


<form action="/numberlink/chooseSize" method="get">
    Rows: <input type="number" name="rows" value="3" min="2" max="9"><br>
    Columns: <input type="number" name="columns" value="3" min="2" max="9"><br>
    <input type="submit" value="Choose Size">
</form>

<span th:if="${@userController.logged}">
    Logged as: <span th:text="${@userController.loggedUser.login}"/><br/>
    Your Rating: <span th:text="${playerRating}"/><br/>
</span>

<h3>Rate the Game</h3>
<form action="/numberlink/addRating" method="post">
    <label for="rating">Your Rating:</label>
    <select id="rating" name="rating" required>
        <option value="1">1 star</option>
        <option value="2">2 stars</option>
        <option value="3">3 stars</option>
        <option value="4">4 stars</option>
        <option value="5">5 stars</option>
    </select><br>
    <input type="submit" value="Submit Rating">
</form>

<span th:utext="${@numberlinkController.getHtmlField()}"></span>


<span th:if="${isSolved}">Solved!</span>
<h2>Comments</h2>
<table>
    <tr>
        <th>Player</th>
        <th>Comment</th>
        <th>Commented On</th>
    </tr>
    <tr th:each="comment : ${comments}">
        <td th:text="${comment.player}"></td>
        <td th:text="${comment.comment}"></td>
        <td th:text="${#dates.format(comment.commentedOn, 'dd.MM.yyyy HH:mm:ss')}"></td>
    </tr>
</table>

<h3>Leave a Comment</h3>
<form action="/numberlink/addComment" method="post">
    <label for="comment">Comment:</label><br>
    <textarea id="comment" name="comment" rows="4" cols="50" required></textarea><br>
    <input type="submit" value="Submit">
</form>

<h1>Average Rating for the Game</h1>
<p>The average rating for the game is: <span th:text="${averageRating}"></span></p>

<h3>Top scores</h3>
<table class="scores">
    <thead>
    <tr>
        <th>No.</th>
        <th>Player</th>
        <th>Points</th>
        <th>Played at</th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="scores" type="java.util.List<sk.tuke.gamestudio.entity.Score>"*/-->
    <tr th:each="score, it : ${scores}">
        <td th:text="${it.index + 1}"/>
        <td th:text="${score.player}"/>
        <td th:text="${score.points}"/>
        <td th:text="${#dates.format(score.playedOn, 'dd.MM.yyyy HH:mm')}"/>
    </tr>
    </tbody>
</table>


</body>
</html>